.footer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  font-weight: bold;
  background-color: var(--primary-gray-c);
  color: white;
  flex-shrink: 0;
}
.footer.mobile {
  flex-direction: column;
  row-gap: 5px;
}
