.item {
  border: 1px solid #ddd;
  border-radius: var(b-rad);
  overflow: hidden;
  background-color: white;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.img {
  width: 100%;
  height: 200px;
  max-height: 200px !important;
  object-fit: cover;
  flex-shrink: 0;
}
