:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* css variables */
  --b-rad: 8px;
  --b-rad-sm: 5px;
  --primary-gray-c: rgb(51, 51, 51);
  --primary-gray-c-op: rgb(51, 51, 51, 0.9);
  --primary-blue-c: #007bff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  max-height: 100vh;
}
#root {
  height: 100%;
}
