.contentCont {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 0.5em;
  font-size: 1.2em;
}

.content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.category,
.language,
.country {
  margin: 0.5em 0;
  color: #555;
}

.link {
  color: var(--primary-blue-c);
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.bottomLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-top: 1em;
}
/* fixed height */

.category,
.language,
.country,
.source,
.bottomLine,
.title {
  flex-shrink: 0;
}

/* remaiaining height */
.contentCont,
.content {
  flex-grow: 1;
  min-height: 0;
}
